body{
  margin: 0;
  padding: 0;
  font-style: italic;
  background: url(image.jpg) repeat;
  background-size: cover;

}
.login-box{
  width: 280px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #b0c4de;
}
.login-box h1{
  font-size: 45px;
  margin-bottom: 30px;
  padding: 13px 0;


}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 25px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #b0c4de;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border:none;
  outline: none;
  background: none;
  font-size: 16px;
  font-style: italic;
  width: 80%;
  float: left;
  color: white;
  margin: 10px;
}
.btn{
  width:;
  background: none;
  font-style: italic;
  border: 2px solid #b0c4de;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}
.textbox .tooltip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
  position: absolute;
  left: 105%;
}
.textbox:hover .tooltip{
  visibility: visible;
}
.login-box a{
  text-decoration: none ;
  font-family: sans-serif;
  padding: 5.115px 40px 5.115px 40px;
}
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
h4{
}
.headerr  {
  color: #4CAF50;
  background-color: #333;
  display: flow-root;

}
